<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Delivery Employee</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

    <header class ="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
        <h1>Add Delivery Employee</h1>
        </div>
    </div>
    </div>
    </header>

    <main class="container mt-4">
        <section id="form" class="bg-light y5">
            <div class="container">
                <p>Enter New Delivery Employee Details</p>
                </div>
                
                <form action="/add-delivery-employee" method="post">
                    
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" value="{{ name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" id="salary" min="0" step="any" name="salary" class="form-control" value="{{ salary }}" required>
                    </div>

                    <div class="form-group">
                        <label for="bankAccNum">Bank Account</label>
                        <input type="text" id="bankAccNum" name="bankAccNum" class="form-control" value="{{ bankAccNum }}" required>
                    </div>

                    <div class="form-group">
                        <label for="nationalInsuranceNum">National Insurance Number </label>
                        <input type="text" id="nationalInsuranceNum" name="nationalInsuranceNum" class="form-control" value="{{ nationalInsuranceNum }}" required>
                    </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                
                    </div>
                </form>

            </div>


        </section>




    </main>
    </body></html>